.hora {
    width: 90px;
    // border: black solid 1px;
    text-align: right;
    margin: 2px;
    padding: 2px;
}

.bloque {
    width: 100%;
    // border: black solid 1px;
    margin: 2px;
    padding: 2px;
}

.parrilla {
    display: flex;
}

.cabhora {
    width: 90px;
    border-bottom: black solid 1px;
    margin: 2px;
    padding: 2px;
}

.cabbloque {
    width: 100%;
    border-bottom: black solid 1px;
    margin: 2px;
    padding: 2px;
}

.cabrecar {
    width: 22px;
    border-bottom: black solid 1px;
    margin: 2px;
    padding: 2px;
}
.cabrecar:hover{
    cursor: pointer;
    color: blue;
}

.cabparrilla {
    display: flex;
}