<p-panel header="Parrilla">
    <div class="cabparrilla">
        <div class="cabhora">
            <p>Horas</p>
        </div>
        <div class="cabbloque">
            <p>Bloque</p>
        </div>
        <div class="cabrecar">
            <div (click)="updateData()" class="pi pi-refresh" title="Recargar"></div>
        </div>
    </div>
    <div *ngFor="let item of parrilla" class="parrilla">
        <div class="hora">
            {{item.horas}}
        </div>
        <div class="bloque">
            {{item.bloque}}
        </div>
    </div>
</p-panel>