#radio {
    display: none;
}

.fill {
    width: 100%;
}

.bold {
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
}

.cabecera {
    display: flex;
}

.contenido {
    min-width: 350px;
    // max-width: 564px;
    max-width: 764px;
    margin: auto;
}

.contenedor {
    margin: auto;
    width: 32px;
}

.cardH3 {
    text-align: center;
    border: 1px solid #bbbbbb;
    padding: 8px;
    border-radius: 5px;
}

.headerdirecto {
    font-size: 20px;
    font-weight: bold;
}

.menu {
    display: flex;
    position: relative;
    color: black;
}

.divmenu {
    position: relative;
    margin-right: 5px;
}

.divradio {
    margin: auto;
    width: 100%;
}

.horizontalMenu li {
    display: inline;
    float: none;
}

.menuboton {
    background-color: #139fca !important;
    border: 1px solid #0d7380;
    margin: auto;
    // border-radius: 50px;
    border-radius: 5px;
    // position: absolute;
    // top: 30px;
    // right: 1px;
}

.menuboton:hover {
    background-color: #1280a1 !important;
    border: 1px solid #0a525c;
    cursor: pointer;
}

.flotante>div {
    left: 150px !important;
}

.desplegable {
    display: flex;
    width: 100%;
    position: sticky;
    // bottom: 10px;
    left: 46%;
}

.fondo {
    width: 100%;
    height: 100%;
    position: fixed;
    margin: -10px;
    z-index: -1;

}

.oscuro {
    background-color: #354e4e;
}

.textwhite {
    color: white;
}

.textblack {
    color: black;
}

.tematext {
    font-weight: bold;
    margin: 2px;
    margin-left: 3px !important;
}

.selradio{
    margin-left: auto;
    margin-right: auto;
}