<audio controls autoplay name="media" volume="0.5" id="radio">
  <source [src]="source" type="audio/mp3">
</audio>

<p-toast></p-toast>

<div class="fondo oscuro" *ngIf="tema">

</div>

<div class="separator"></div>



<div class="contenido">
  <div class="flex" style="margin-right: 5px;">
    <div class="flex" style="width: 150px;">
      <div style="margin-right: 5px;">
        <p-inputSwitch [(ngModel)]="tema" (click)="temacolor()"></p-inputSwitch>
      </div>
      <div class="tematext" [ngClass]="tema?'textwhite':'textblack'">Tema:
        {{fondotexto}}</div>
    </div>
    <div class="flex selradio">
      <p-dropdown [options]="recursos" [(ngModel)]="selected" placeholder="Reproductor" optionLabel="name">
      </p-dropdown>
      <button pButton type="button" *ngIf="selected" (click)="radio()" label="Fijar" style="margin-left: 5px;"
        class="ui-button-success"></button>
    </div>
    <div *ngIf="menudi" class="">
      <div pButton class="menuboton p-button-rounded p-button-success" icon="pi pi-list" (click)="menu.toggle($event)">
      </div>
    </div>
  </div>

  <div class="separator"></div>

  <div class="cabecera">
    <p-menu #menu [popup]="true" [model]="items" class="flotante"></p-menu>
    <div class="divmenu" *ngIf="!menudi">
      <p-menu [model]="items" class="menu" *ngIf="!menudi"></p-menu>
    </div>
    <div class="divradio">
      <p-panel header="DjMcToledo" [toggleable]="true">
        <div class="contenedor">
          <h1 class="pi bold" (click)="switchMusic()" [ngClass]="buttonType"></h1>
        </div>
        <p-slider (ngModelChange)="updateVolume()" [(ngModel)]="val"></p-slider>
        <div class="separator"></div>
        <h3 class="cardH3">{{title}}</h3>
      </p-panel>
    </div>
  </div>

  <div class="separator"></div>
  <router-outlet></router-outlet>
</div>

<div class="separator"></div>