<!-- <p-panel header="Random">
    <div class="cabparrilla">
        <div class="cabrecar">
            <div (click)="updateDatas()" class="pi pi-refresh" title="Recargar"></div>
        </div>
        <div *ngFor="let items of parrillas" class="parrilla">
            <div class="hora">
                {{items.horas}}
            </div>
            <div class="bloque">
                {{items.bloque}}
            </div>
        </div>
    </div>
</p-panel> -->

<!-- <div class="separator"></div> -->

<p-panel header="Parrilla">
    <div class="cabparrilla">
        <div class="cabhora">
            <p>Horas</p>
        </div>
        <div class="cabbloque">
            <p>Bloque</p>
        </div>
        <div class="cabduracion">
            <p>Duracion</p>
        </div>
        <div class="cabrecar">
            <div (click)="updateDatas()" class="pi pi-refresh" title="Recargar"></div>
        </div>
    </div>
    <div *ngFor="let item of parrilla">
        <div class="{{item.bloque}} parrilla subparrilla">
            
            <div class="hora">
                {{item.horas}}
            </div>
            <div class="bloque">
                {{item.bloque}}
            </div>
            <div class="duracion">
                {{item.duracion}}
            </div>
        </div>
    </div>
</p-panel>
<!-- 
<div class="separator"></div>

<p-panel header="Parrilla" [toggleable]="true">
    <div class="cabparrilla">
        <div class="cabhora">
            <p>Horas</p>
        </div>
        <div class="cabbloque">
            <p>Bloque</p>
        </div>
        <div class="cabrecar">
            <div (click)="updateData()" class="pi pi-refresh" title="Recargar"></div>
        </div>
    </div>
    <div *ngFor="let item of parrilla" class="parrilla">
        <div class="hora">
            {{item.horas}}
        </div>
        <div class="bloque">
            {{item.bloque}}
        </div>
    </div>
</p-panel> -->