.hora {
    width: 150px;
    // border: black solid 1px;
    text-align: right;
    margin: 2px;
    padding: 2px;
}

.bloque {
    width: 100%;
    // border: black solid 1px;
    margin: 2px;
    padding: 2px;
}

.duracion {
    width: 155px;
    // border: black solid 1px;
    // text-align: right;
    margin: 2px;
    padding: 2px;
}

.parrilla {
    display: flex;
}
.subparrilla{
    width: 100%;
}
.Session{
    width: 100%;
    background-color: rgba(175, 172, 172, 0.507);
}

.cabhora {
    width: 150px;
    border-bottom: black solid 1px;
    margin: 2px;
    padding: 2px;
}

.cabbloque {
    width: 100%;
    border-bottom: black solid 1px;
    margin: 2px;
    padding: 2px;
}

.cabduracion {
    width: 120px;
    border-bottom: black solid 1px;
    margin: 2px;
    padding: 2px;
}

.cabrecar {
    width: 22px;
    border-bottom: black solid 1px;
    margin: 2px;
    padding: 2px;
}
.cabrecar:hover{
    cursor: pointer;
    color: blue;
}

.cabparrilla {
    display: flex;
}