.closeBtn {
    float: right;
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
}

.error {
    padding: 8px;
    background-color: #f8b7bd;
    border: 0 none;
    color: #212121;
    text-align: center;
    font-weight: bold;
}

.bold {
    font-size: 30px;
    cursor: pointer;
}

.separator {
    margin: 5px;
}

.separador {
    margin: 10px;
}

.contenido {
    // min-width: 350px;
    // max-width: 564px;
    margin: auto;
}

.contenedor {
    margin: auto;
    width: 32px;
}

.cardH3 {
    text-align: center;
    border: 1px solid #bbbbbb;
    padding: 8px;
    border-radius: 5px;
}

.pwd {
    text-align: center;
    color: #007cff;
    cursor: pointer;
}

.centrado {
    min-width: 200px;
    max-width: 350px;
    margin: auto;
}

.selector {
    display: flex;
}

.margenes {
    padding: 10px;
}

.cerrado{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px !important;
}