<p-dialog header="Contraseña perdida" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}"
    [baseZIndex]="10000" [draggable]="false" [resizable]="false">
    Pongase en contacto con los administradores de la pagina
</p-dialog>


<p-panel (keyup.enter)="entrar()" header="Login">
    <div class="centrado">

        <p>El login esta en mantenimiento</p>

        <div class="separador"></div>

        <div class="selector">
            <button (click)="login = true;regis = false;cerrar = true;" pButton type="button" label="Login"
                class="ui-button-raised ui-button-success fill separator"></button>
            <button routerLink="/registro" pButton type="button" label="Registrarse"
                class="ui-button-raised ui-button-success fill separator"></button>
        </div>

        <div class="separador"></div>

        <div *ngIf="cerrar" class="pi pi-times closeBtn cerrado" (click)="regis = false;login = false;cerrar = flase;"></div>

        <div *ngIf="login">

            <div *ngIf="msgs" class="error">Email o contraseña incorrectos
                <p (click)="msgs = false" class="pi pi-times closeBtn"></p>
            </div>

            <div *ngIf="msgs" class="separador"></div>

            <input class="form-control" [(ngModel)]="email" placeholder="Email" type="email" pInputText>
            <div class="separator"></div>
            <input class="form-control" [(ngModel)]="password" placeholder="Contraseña" type="password" pInputText>
            <div class="separator"></div>
            <button (click)="entrar()" pButton type="button" label="Entrar"
                class="ui-button-raised ui-button-success fill"></button>
            <div class="separator"></div>
            <div class="pwd">
                <p (click)="displayModal=true">¿Contraseña perdida?</p>
            </div>
        </div>
    </div>
</p-panel>