/* You can add global styles to this file, and also import other style files */
body {
    background-color: lightcyan;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.fill{
    width: 100%;
}
.bold {
    font-weight: bold;
}
.separator{
    margin-top: 10px;
}
.flex{
    display: flex;
}