<p-panel header="Avisos">
    <div class="aviso">
        {{avisos}}
    </div>
    <hr>
    <div class="directos">
        <div class="headerdirecto">En directo:</div>
        <div>
            {{directo}} <a href="{{enlace}}" *ngIf="enlace" target="_blank">Ir a verlo</a>
        </div>
    </div>
</p-panel>

<div class="separator"></div>

<p-panel header="Donacion a McToledo">
    <a href="https://www.paypal.com/paypalme/{{paypal}}" target="_blank">Puedes aportar algo haciendo click aqui.</a>
</p-panel>