.contenedor {
    width: auto;
    margin: auto;
    background-color: #ffffff;
    border: 1px solid #c8c8c8;
}

.bordes {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.cabeza {
    background-color: #f4f4f4;
    width: 100%;
    margin: 0px !important;
    border-bottom: 1px solid #c8c8c8;
    display: flex;
}

.espacio {
    margin: 8px;
    padding-left: 15px;
}

.cuerpo {
    width: 100%;
}

.content {
    display: flex;
    margin-top: 15px;
}

.contenido {
    min-width: 200px;
    max-width: 350px;
    margin: auto;
    display: inline !important;
    padding: 6px;
}

.izquierda {
    width: 100%;
    margin: auto;
}

.derecha {
    width: 100%;
    margin: auto;
    display: flex;
}

.margenes {
    padding: 10px;
}

//FIN DE CONTENEDORES
//INICIO REGISTRO

.checks {
    display: flex;
    padding: 2px;
}

.chede {
    padding-left: 5px;
}

.closeBtn {
    float: right;
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
}

.error {
    padding: 8px;
    background-color: #f8b7bd;
    border: 0 none;
    color: #212121;
    text-align: center;
    font-weight: bold;
    margin: 10px;
}

.correcto {
    padding: 8px;
    background-color: #b7f8b7;
    border: 0 none;
    color: #212121;
    text-align: center;
    font-weight: bold;
    margin: 10px;
}

.separator {
    margin: 5px;
}
//FIN REGISTRO