<p-dialog header="Terminos" [(visible)]="termaler" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
    Agregando terminos y condiciones...
</p-dialog>

<p-dialog header="Registro" [(visible)]="registradomsg" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
    <div *ngIf="!registrado" class="error">
        Hay un error en el registro, intentalo mas tarde o prueba otra vez.
        <br>
        Puenden faltar datos o estar mal.
        <br>
        Si no aceptas los terminos no te dejará.
        <!-- <p (click)="registradomsg = false;registrado=false" class="pi pi-times closeBtn"></p> -->
    </div>
    <div *ngIf="registrado" class="correcto">Registrado correctamente, enhorabuena
        <!-- <p (click)="registradomsg = false;registrado=false" class="pi pi-times closeBtn"></p> -->
    </div>
    <div *ngIf="msgpsd" class="error">Las contraseñas no coinciden
        <!-- <p (click)="msgpsd = false" class="pi pi-times closeBtn"></p> -->
    </div>

</p-dialog>

<div class="contenedor bordes">
    <div class="cabeza bordes">
        <div class="header">
            <p class="espacio bold name">Registro</p>
        </div>
    </div>
    <div class="cuerpo">
        <!-- <div class=""> -->

    </div>
    <div class="content">
        <div class="contenido izquierda">

            <!-- [(ngModel)]="name" -->
            <input class="form-control" placeholder="Nombre" [(ngModel)]='nombre' type="text" pInputText required>
            <div class="separator"></div>

            <!-- [(ngModel)]="email" -->
            <input class="form-control" placeholder="Email" [(ngModel)]='email' type="email" pInputText required>
            <div class="separator"></div>

            <!-- [(ngModel)]="password" -->
            <input class="form-control" placeholder="Contraseña" [(ngModel)]='password' type="password" pInputText
                required>
            <div class="separator"></div>

            <!-- [(ngModel)]="passwordrep" -->
            <input class="form-control" placeholder="Repetir Contraseña" [(ngModel)]='confimpassword' type="password"
                pInputText required>
            <div class="separator"></div>

            <!--(click)="entrar()"-->
            <div class="separator"></div>
        </div>

        <div class="contenido derecha">
            <div class="checks">
                <div class="cheiz">
                    <p-inputSwitch [(ngModel)]="mensageaviso"></p-inputSwitch>
                </div>
                <div class="chede">
                    Recibir mensage por actualización
                </div>
            </div>
            <div class="checks">
                <div class="cheiz">
                    <p-inputSwitch [(ngModel)]="terminos" (click)="alerta();"></p-inputSwitch>
                </div>
                <div class="chede">
                    Acepto los terminos
                </div>
            </div>


        </div>
    </div>
    <div class="margenes">
        <!-- routerLink="/inicio" -->
        <button (click)="registro();registradomsg = true;" pButton type="button" label="Registrar"
            class="ui-button-raised ui-button-success fill separator"></button>
    </div>
    <div class="margenes">
        <button routerLink="/inicio" pButton type="button" label="inicio"
            class="ui-button-raised ui-button-success fill separator"></button>
    </div>
</div>

<!-- 

<div class="divradio">
    <div class="titulo">
        <div class="izquierda">
            <p class="espacio name">DjMcToledo</p>
        </div>
        <div class="derecha">
            <p class="espacio vol">Volumen:</p>
            <p class="espacio vol name">50</p>
        </div>
    </div>

    <div class="body repro">
        <div class="contenedoruno">
            <h1 class="pi bold pi-volume-down"></h1>
        </div>
        <div class="contenedoruno">
            <h1 class="pi bold"></h1>
        </div>
        <div class="contenedoruno">
            <h1 class="pi bold pi-volume-up vol"></h1>
        </div>
    </div>
</div> -->